@model List<McKIESales.API.Models.Product>

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model){
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Weight</td>
                <td>@product.Colour</td>
                <td>@product.RG</td>
                <td>@product.Diff</td>
                <td>@product.LaneConditions</td>
                <td>@product.Coverstock</td>
                <td>@product.Core</td>
                <td>@product.Price</td>
                <td>@product.IsAvailable</td>
                <td>@product.CategoryId</td>
            </tr>
        }
    </tbody>
</table>